# Import Library dan load data

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('dataset/train-bukalapak.csv')

In [3]:
data.shape

(303, 3)

In [4]:
data.head(5)

   ID                                        Description Is_Response
0   1                          belanja murah & mudah say       happy
1   2  belanja produk digital disini aja gaesss pulsa...       happy
2   3  Sering belanja di bukalapak. Nyaman murah terp...       happy
3   4                   ecommerce yang mudah utk belanja       happy
4   5  Sangat membantu hidup saya..  mudah2n bukalapa...       happy

In [5]:
data.tail(5)

      ID                                        Description Is_Response
298  299  Sejauh ini gak ada kendala dan masalah. Serta ...       happy
299  300  Luar biasa. Baru kali ini saya mendapat keuntu...       happy
300  301            jangan sampe ngga belanja pokoknya hehe       happy
301  302                   sudah ngga lemot bagus bukalapak       happy
302  303  Saya sangat nyaman belanja di Bukalapak, Harga...       happy

In [6]:
data.sample(5)

      ID                                        Description Is_Response
128  129  hari jumat tgl 14 maret saya order tanpa login...   not happy
85    86  apa apaan ini? aplikasi sama developernya udah...   not happy
43    44  Bukalapak My Hero. Aman. Mudah. Cepat. Saya da...       happy
89    90  kenapa susah sekali saya mencari barang yg di ...   not happy
248  249   Terima kasih atas tanggung jawab dari pihak b...       happy

In [7]:
data.describe()

               ID
count  303.000000
mean   152.000000
std     87.612784
min      1.000000
25%     76.500000
50%    152.000000
75%    227.500000
max    303.000000

In [8]:
data.columns

Index(['ID', 'Description', 'Is_Response'], dtype='object')

In [9]:
data['Is_Response'].value_counts()

happy        152
not happy    151
Name: Is_Response, dtype: int64

# Text Preproccessing

In [10]:
import re

from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory

In [11]:
# tok = WordPunctTokenizer

# factory = StopWordRemoverFactory()
# stopword = factory.create_stop_word_remover()
 
# # Kalimat
# kalimat = 'Dengan Menggunakan Python dan Library Sastrawi saya dapat melakukan proses Stopword Removal'
# stop = stopword.remove(kalimat)
# print(stop)

# factory.get_stop_words()

In [12]:
#Removing columns
data.drop(columns = ['ID'], inplace = True)

In [13]:
# Apply first level cleaning
import re
import string

#This function converts to lower-case, removes square bracket, removes numbers and punctuation
def text_clean_1(text):
    #Case Folding
    text = text.lower()
    #Remove Punctuation
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

cleaned1 = lambda x: text_clean_1(x)

DataReview = data.Description.apply(cleaned1)

# # Tokenization

In [14]:
#Tokenization
from nltk.tokenize import word_tokenize

def text_token(text):
    text = [word_tokenize(doc) for doc in text]
    return text

tokenizing = lambda x: text_token(x)

tokenized_docs = tokenizing(DataReview)
# print(tokenized_docs)

In [15]:
#Sentence tokenization

from nltk.tokenize import sent_tokenize

def text_sentence(text):
    text = [sent_tokenize(doc) for doc in text]
    return text

sentence_tokenization = lambda x: text_sentence(x)

# DataReview = sentence_tokenization(DataReview)
# print(DataReview)

In [ ]:
#Removing Stopword

In [16]:
data['preprocessing_description'] = pd.DataFrame(data.Description.apply(cleaned1))
data.head(10)

,Description,Is_Response,preprocessing_description
0,belanja murah & mudah say,happy,belanja murah mudah say
1,belanja produk digital disini aja gaesss pulsa...,happy,belanja produk digital disini aja gaesss pulsa...
2,Sering belanja di bukalapak. Nyaman murah terp...,happy,sering belanja di bukalapak nyaman murah terpe...
3,ecommerce yang mudah utk belanja,happy,ecommerce yang mudah utk belanja
4,Sangat membantu hidup saya.. mudah2n bukalapa...,happy,sangat membantu hidup saya bukalapak panjang...
5,SEMAKIN BANYAK TEROBOSAN TEROBOSAN NYA BUKALAP...,happy,semakin banyak terobosan terobosan nya bukalap...
6,85 % saya menggunakan aplikasi ini saat berbel...,happy,saya menggunakan aplikasi ini saat berbelanj...
7,Suka bangt Smoga lancar smuanya,happy,suka bangt smoga lancar smuanya
8,Hendaknya diberi tahu jg persyaratan dan cara ...,happy,hendaknya diberi tahu jg persyaratan dan cara ...
9,Aplikasinya keren.paling responsive dibanding ...,happy,aplikasinya kerenpaling responsive dibanding e...

# Membuat Train test

Setelah melakukan langkah diatas, selanjutnya memisahkan data latih dan data uji untuk memisahkannya, disini menggunakan library sklearn

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x=data.Description
y=data.Is_Response

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.1, random_state=123)

In [19]:
print('Banyak data x_train : ',len(x_train))
print('Banyak data x_test : ',len(x_test))
print('Banyak data y_train : ',len(y_train))
print('Banyak data y_test : ',len(y_test))

Banyak data x_train :  272
Banyak data x_test :  31
Banyak data y_train :  272
Banyak data y_test :  31